In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
mach = pd.read_csv('machine.csv')
mach

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [11]:
mach.mean()

New machine    42.14
Old machine    43.23
dtype: float64

In [9]:
st.ttest_rel(mach['New machine'],mach['Old machine'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

The alpha is 0.025 by each side and it falls within the left side alpha range so we reject the null hypothesis. 
So given the current assumption, we can say that one machine is better than the other.

In [13]:
poke = pd.read_csv('pokemon.csv')
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [14]:
st.ttest_ind(poke['Attack'],poke['Defense'],equal_var=False)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012124374824544375)

The alpha is 0.025 by each side and it falls within the left side alpha range so we reject the null hypothesis. 
So given the current assumption, we can say that the defense score of a pokemon is significantly different from its attack score.

In [23]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching Rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

## For this part, we need to establish the following: 


* State the null hypothesis

#### H0: There is no significant difference of etching rate among all groups of chips. 

* State the alternate hypothesis

#### H1: There is no significant difference of etching rate among all groups of chips. 

* What is the significance level

#### alpha = 0.05 and it is 0.025 by each side. 

* What are the degrees of freedom of model, error terms, and total DoF

In [29]:
agg1 = data.groupby('Power ').agg({'Etching Rate':'mean'})
agg1['counts'] = data.groupby('Power ').agg('count')
agg1

        Etching Rate  counts
Power
160 W          5.792       5
180 W          6.238       5
200 W          8.318       5

In [39]:
st.f_oneway(data[data['Power ']=='160 W']['Etching Rate'],data[data['Power ']=='180 W']['Etching Rate'],data[data['Power ']=='200 W']['Etching Rate'])[1]

7.506584272358903e-06

The alpha is less than 0.025 so we can say that not all Etching rate means are equal among different power groups. So we reject the null hypothesis.